html, body {
	background: #292929;
}

body {
	width: 700px;
	margin: 40px auto;
	font: 14px/1.2 'Helvetica Neue', sans-serif;
}


.cbutton {
	border: 0;
	background: -webkit-linear-gradient(#363636, #272727);
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.35);
	color: #d5d5d5;
	padding: 7px 15px;
	font-size: 14px;
}
.cbutton:hover {
	background: -webkit-linear-gradient(#3b3b3b, #2d2d2d);
}
.cbutton:active,
.cbutton.active {
	background: -webkit-linear-gradient(#1e1e1e, #2a2a2a);
}


.clock {
	width: 700px;
	height: 243px;
	margin: 0 auto 100px auto;
}
	
	.clock .clock-top {
		width: 685px;
		height: 21px;
		margin: 0 auto;
		background: url('../images/clock/top.png');
	}
		.clock .clock-top .switch-face {
			border: 0;
			display: block;
			width: 58px;
			height: 8px;
			margin: 0 auto;
			position: relative;
			top: 4px;
			background: url('../images/clock/top-button.png');
		}

	.clock .clock-frame {
		width: 700px;
		height: 230px;
		background: url('../images/clock/frame.png');
		position: relative;
		top: -5px;
	}

		.clock .clock-frame .clock-inside {
			width: 670px;
			height: 200px;
			background: url('../images/clock/inside.png');
			position: absolute;
			top: 15px;
			left: 15px;
			z-index: 5;
		}
			.clock .clock-frame .clock-inside .clock-face {
				position: absolute;
				top: 0;
				z-index: 6;
			}

		.clock .clock-frame .clock-inside:before {
			content: "";
			display: block;
			width: 670px;
			height: 200px;
			background: url('../images/clock/inner-shadow.png');
			position: relative;
			z-index: 7;
		}

.clock:after {
	content: "";
	display: block;
	width: 698px;
	height: 213px;
	position: relative;
	top: -140px;
	background: url('../images/clock/drop-shadow.png');
}



.content {
	overflow: hidden;
	width: 664px;
	margin: 0 auto;
}

	.content .col {
		width: 302px;
		float: left;
		text-align: center;
	}
		.content .col > h1 {
			font-size: 20px;
			font-weight: normal;
			text-align: center;
			margin-bottom: 15px;
			padding: 0;
		}

		.content .form {
			overflow: hidden;
			margin: 20px 0;
		}
		.content fieldset {
			float: left;
			text-align: left;
		}
			.content fieldset .form-item {
				float: left;
			}
			.content fieldset label {
				display: block;
			}

		.content .start {
			background: -webkit-linear-gradient(#4c7422, #304916);
			margin: 0 auto;
		}
		.content .start:hover {
			background: -webkit-linear-gradient(#517927, #354e1b);
		}
		.content .start:active,
		.content .start.active {
			background: -webkit-linear-gradient(#304916, #3c6412);
		}

		.content .stop {
			background: -webkit-linear-gradient(#742222, #4a1616);
			margin: 0 auto;
		}
		.content .stop:hover {
			background: -webkit-linear-gradient(#792727, #4f1b1b);
		}
		.content .stop:active,
		.content .stop.active {
			background: -webkit-linear-gradient(#4a1616, #641212);
		}

		.content .start[disabled] {
			background: -webkit-linear-gradient(#667458, #414937);
			margin: 0 auto;
			color: #8e9886;
		}

	.content .sleep {
		margin-right: 60px;
	}

	.content .droparea {
		width: 282px;
		height: 92px;
		padding: 15px 10px;
		background: url('../images/droparea.png') 0 0;
		text-align: center;
		color: #9d9d9d;
		margin-top: 20px;
	}
		.content .droparea h1 {
			font-size: 20px;
			font-weight: normal;
			color: #e7e7e7;
			margin: 10px 0 10px;
			pointer-events: none;
		}

		.content .droparea p {
			pointer-events: none;
		}

			.content .droparea b {
				font-weight: bold;
				color: #bdbdbd;
			}

	.content .droparea.target {
		background-position: 0 -122px;
	}

.hours {
	width: 50px;
}

.dropdown {
	background: #fff;
	color: #000;
}

.dropdown-values {
	display: none;
	background: #fff;
	color: #000;
	position: absolute;
	overflow: auto;
	height: 100px;
}

.dropdown-values.selecting {
	display: block;
}

.dropdown-values li.selecting, .dropdown-values li:hover {
	background: #999 !important;
}

.dropdown-values li.selected {
	background: #ccc;
}
