html, body {
	background: #292929;
}

body {
	width: 700px;
	margin: 40px auto;
	font: 14px/1.2 'Helvetica Neue', sans-serif;
}


.cbutton {
	border: 0;
	background: -webkit-linear-gradient(#363636, #272727);
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.35);
	color: #d5d5d5;
	padding: 7px 12px;
	font-size: 14px;
}
.cbutton:hover {
	background: -webkit-linear-gradient(#3b3b3b, #2d2d2d);
}
.cbutton:active,
.cbutton.active {
	background: -webkit-linear-gradient(#1e1e1e, #2a2a2a);
}


.clock {
	width: 700px;
	height: 243px;
	margin: 0 auto 100px auto;
}
	
	.clock .clock-top {
		width: 685px;
		height: 21px;
		margin: 0 auto;
		background: url('../images/clock/top.png');
	}
		.clock .clock-top .switch-face {
			border: 0;
			display: block;
			width: 58px;
			height: 8px;
			margin: 0 auto;
			position: relative;
			top: 4px;
			background: url('../images/clock/top-button.png');
		}

	.clock .clock-frame {
		width: 700px;
		height: 230px;
		background: url('../images/clock/frame.png');
		position: relative;
		top: -5px;
	}

		.clock .clock-frame .clock-inside {
			width: 670px;
			height: 200px;
			background: url('../images/clock/inside.png');
			position: absolute;
			top: 15px;
			left: 15px;
			z-index: 5;
		}
			.clock .clock-frame .clock-inside .clock-face {
				position: absolute;
				top: 0;
				z-index: 6;
			}

		.clock .clock-frame .clock-inside:before {
			content: "";
			display: block;
			width: 670px;
			height: 200px;
			background: url('../images/clock/inner-shadow.png');
			position: relative;
			z-index: 7;
		}

.clock:after {
	content: "";
	display: block;
	width: 698px;
	height: 213px;
	position: relative;
	top: -140px;
	background: url('../images/clock/drop-shadow.png');
}



.content {
	overflow: hidden;
	width: 664px;
	margin: 0 auto;
}

	.content .col {
		width: 302px;
		float: left;
		text-align: center;
	}
		.content .col > h1 {
			font-size: 20px;
			font-weight: normal;
			text-align: center;
			margin-bottom: 15px;
			padding: 0;
		}

		.content .form {
			overflow: hidden;
			margin: 20px 0;
		}
		.content fieldset {
			float: left;
			text-align: left;
		}
			.content fieldset .form-item {
				float: left;
			}
			.content .time-format {
				margin-right: 16px;
			}
			.content fieldset label {
				display: block;
				margin-bottom: 5px;
			}

			.content .styled-select {
				display: inline-block;
				position: relative;
				width: 65px;
				height: 30px;
				box-shadow: 0 2px 3px rgba(0,0,0,0.35);
			}
			.content .form-item:first-child .styled-select {
				margin-right: 8px;
			}
			.content .styled-select select {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				-webkit-appearance: none;
			}
			.content .styled-select .styled-select-value {
				position: absolute;
				top: 0;
				left: 0;
				background: #1e1e1e;
				box-shadow: inset 0 2px 3px rgba(0,0,0,0.35);
				color: #d5d5d5;
				display: inline-block;
				width: 37px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				border-radius: 3px 0 0 3px;
			}
			.content .styled-select .styled-select-button {
				position: absolute;
				top: 0;
				left: 37px;
				display: inline-block;
				width: 28px;
				height: 30px;
				padding: 0;
				border-radius: 0 3px 3px 0;
				box-shadow: none;
				text-align: center;
				line-height: 30px;
				color: #7e7e7e;
			}

		.content .start {
			background: -webkit-linear-gradient(#4c7422, #304916);
			margin: 0 auto;
		}
		.content .start:hover {
			background: -webkit-linear-gradient(#517927, #354e1b);
		}
		.content .start:active,
		.content .start.active {
			background: -webkit-linear-gradient(#304916, #3c6412);
		}

		.content .stop {
			background: -webkit-linear-gradient(#742222, #4a1616);
			margin: 0 auto;
		}
		.content .stop:hover {
			background: -webkit-linear-gradient(#792727, #4f1b1b);
		}
		.content .stop:active,
		.content .stop.active {
			background: -webkit-linear-gradient(#4a1616, #641212);
		}

		.content .start[disabled] {
			background: -webkit-linear-gradient(#667458, #414937);
			margin: 0 auto;
			color: #8e9886;
		}

	.content .sleep {
		margin-right: 60px;
	}

	.content .droparea {
		width: 282px;
		height: 92px;
		padding: 15px 10px;
		background: url('../images/droparea.png') 0 0;
		text-align: center;
		color: #9d9d9d;
		margin-top: 20px;
		position: relative;
	}
		.content .droparea .instructions,
		.content .droparea .music {
			pointer-events: none;
		}
		.content .droparea .music {
			text-align: left;
		}
		.content .droparea .instructions.hidden,
		.content .droparea .music.hidden {
			display: none;
		}
			.content .droparea .music .image,
			.content .droparea .music .sp-image {
				width: 64px;
				height: 64px;
			}
			.content .droparea .music .image {
				top: 30px;
				left: 30px;
				position: absolute;
			}
				.content .droparea .music .sp-image {
					border-radius: 3px;
				}
				.content .droparea .music .title {
					position: absolute;
					top: 30px;
					left: 104px;
					font-size: 16px;
					color: #eee;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 178px;
				}
				.content .droparea .music .numtracks {
					position: absolute;
					top: 52px;
					left: 104px;
					font-size: 12px;
				}
		.content .droparea h1 {
			font-size: 20px;
			font-weight: normal;
			color: #e7e7e7;
			margin: 10px 0 10px;
		}

			.content .droparea b {
				font-weight: bold;
				color: #bdbdbd;
			}

	.content .droparea.target {
		background-position: 0 -122px;
	}